.charitiesWrap {
  background: orange;
  position:relative;
  top: 100vh;
  width: 100vw;
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  z-index: 1;
}
.cGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 60%;
  gap: 20px;
  margin: auto;
}
.cTitle {
  font-size: 40px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 60px;
}

@media screen and (max-width: 960px) {
  .cGrid {
    grid-template-columns: 50% 50%;
    width: 85%;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .charitiesWrap {
      height: auto;
      min-height: 100vh;
    }
}